
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root{

  --app-text-primary: #212529;
  --app-text-secondary: #848484;
  --app-text-muted:#afafaf;

  --primary-green: #2F6F66;
  --primary-green-light: #B6E388;

  --app-bg-body:#fefefe;
  --bg-page: #F5F7F9;
  --app-bg-card: #fafafa;
  --app-bg-card-teste: #f4f3f3;



  --app-font-sm: 0.8rem;
  --app-font-md: 1.1rem;
}

/*.app-text-secundary {
  color: #212529 !important;
}*/

.title-table {
  color: var(--app-text-muted)!important;
  font-size: var(--app-font-sm)!important;
}

.txt-sm {
  color: var(--app-text-secondary) !important;
  font-size: var(--app-font-sm) !important;
}

.txt-md {
  color: var(--app-text-primary) !important;
  font-size: var(--app-font-md) !important;
  font-weight: bold;
}

.txt-money {
  color: var(--app-text-primary);
  font-size: var(--app-font-md) !important;
  font-weight: bold;
}

.txt-sm-padrao{
  font-size: var(--app-font-sm) !important;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr 50px;
  height: 100vh;
  transition: 0.3s ease;
}

/* Quando sidebar estiver recolhida */
.layout.collapsed {
  grid-template-columns: 70px 1fr;
}

/* HEADER */
.header {
  grid-area: header;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 15px;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background: #0f172a;
  padding: 20px;
  transition: 0.3s ease;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

/* Quando recolhida */
.layout.collapsed .sidebar {
  padding: 20px 10px;
}

.layout.collapsed .sidebar a {
  font-size: 0;
}

/* CONTENT */
.content {
  grid-area: content;
  padding: 20px;
  /* background: #f1f5f9; */
  background: var(--app-bg-body);
  overflow-y: auto;
}

.container1 {
  width: 80%;
}

/* FOOTER */
.footer {
  grid-area: footer;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos  para o card no dashboard */
.icon-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.card-size {
  height: 100px !important;
  width: 17rem;
}

.btn-padrao {
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.bg-card {
  /*background-color: #e2e8f0 !important;*/
  background: var(--app-bg-card-teste) !important;
}

.grafico-container-saldo {
  background: var(--app-bg-card-teste);
  border-radius: 8px;
  width: 60% !important;
  height: 250px !important;
}

.grafico-container-doughnut {
  background: var(--app-bg-card-teste);
  border-radius: 8px;
  width: 300px !important;
  height: 250px !important;
}


.grafico-box {
  width: 100% !important;
  height: 90% !important;
}


.card-size-grafico {
  width: 350px !important;
  height: 100px ;
}

/* dropdown periodo no grafico saldo */
.dropdown-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.dropdown-item {
  color: var(--app-text-secondary);
}

.dropdown-item:hover {
  background-color: rgba(255,255,255,0.05);
}

.btn-secondary {
  background-color: transparent;
  border: none;
  color: var(--app-text-secondary);
}

.filtro-mes{
  position: relative;
}

.btn-verde-custom {
  color: #0f5132;           /* verde escuro (texto) */
  background-color: #d1e7dd; /* verde claro (fundo) */
  border: 1px solid #badbcc;
  font-weight: bold;
  font-size: 12px !important;
}

.btn-verde-custom:hover {
  background-color: #badbcc;
  color: #0a3622;
}