{% extends 'base.html' %}

{% block content %}
<h2>Nova Transacao</h2>
<form method="POST">
    {% csrf_token %}
    <p>
        <label for="tipo">Tipo:</label>
        {{ form.tipo }}
    </p>
    <p>
        <label for="categoria">Categoria:</label>
        {{ form.categoria }}
    </p>
    <p>
        <label for="descricao">Descrição:</label>
        {{ form.descricao }}
    </p>
    <p>
        <label for="valor">Valor:</label>
        {{ form.valor }}
    </p>
    <p>
        <label for="id_data">Data:</label>
        {{ form.data }}
    </p>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>

<hr>

<h2>Lista de Transacoes</h2>

<!-- Tabela personalizada -->
<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead class="text-white" style="background-color: #07b29b;"> <!-- Bootstrap verde escuro -->
            <tr>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacao %}
            <tr onclick="window.location.href='{% url 'transacao_detail' transacao.pk %}'" style="cursor: pointer;"
                class="{% if forloop.counter|divisibleby:2 %}linha-verde{% else %}linha-branca{% endif %}"
                title="Ver detalhes">
                <td>{{ transacao.tipo }}</td>
                <td>{{ transacao.categoria }}</td>
                <td>{{ transacao.valor }}</td>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.data }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Nenhuma transação localizada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block scripts %}
<script>

    // Preenche o campo valor com o valor padrão da categoria selecionada
    document.addEventListener("DOMContentLoaded", function () {
        console.log("JS carregou")
        document.getElementById("id_categoria").addEventListener("change", function () {

            let categoriaId = this.value

            if (!categoriaId) {
                return
            }

            fetch(`/financas/categoria/valor/${categoriaId}/`)
                .then(response => response.json())
                .then(data => {

                    document.getElementById("id_valor").value = data.valor_padrao

                })

        })

    })

    // Atualiza as categorias disponíveis com base no tipo selecionado

    document.addEventListener("DOMContentLoaded", function () {

    let tipoSelect = document.getElementById("id_tipo")
    let categoriaSelect = document.getElementById("id_categoria")

    tipoSelect.addEventListener("change", function () {

        let tipo = this.value

        fetch(`/financas/categorias/tipo/${tipo}/`)
        .then(response => response.json())
        .then(data => {

            categoriaSelect.innerHTML = ""

            data.forEach(function(categoria){

                let option = document.createElement("option")
                option.value = categoria.id
                option.text = categoria.nome

                categoriaSelect.appendChild(option)

            })

        })

    })

})


</script>
{% endblock %}

{% endblock %}