<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bem vindo {{ user.username }}!</h1>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <p>Total Receitas: {{ total_receita }}</p>
        <p>Total Despesas: {{ total_despesa }}</p>
        <p>Saldo: {{ saldo }}</p>
        <button type="submit">Sair</button>
    </form>
</body>

</html>