{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load moeda %}


{% block content %}

<h2>Dashboard</h2>
<p>Seja bem-vindo, {{ user.username }}!</p>

<div class="d-flex justify-content-between flex-wrap ">

  <div class="card border-0 card-size cor-secundaria">
    <div class="card-body ">
      <div class="d-flex gap-2 align-items-center mb-3">

        <div class=" bg-success text-white icon-box">
          <i class="bi bi-currency-dollar"></i>
        </div>
        <div class="d-flex flex-column">
          <h6 class="card-subtitle  text-body-secondary">Receita mensal</h6>
          <h5 class="mb-0">{{ total_receita|moeda }}</h5>
        </div>

      </div>
      {% if percentual_receita < 0 %} <p class="card-subtitle text-body-secondary fs-7 text-danger">Redução de {{
        percentual_receita }}% neste mes</p>
        {% else %}
        <p class="card-subtitle text-body-secondary fs-7">Aumento de {{ percentual_receita }}% neste mes</p>
        {% endif %}

    </div>
  </div>

  <div class="card border-0 card-size cor-secundaria">
    <div class="card-body ">
      <div class="d-flex gap-2 align-items-center mb-3">

        <div class=" bg-danger text-white icon-box">
          <i class="bi bi-cart"></i>
        </div>
        <div class="d-flex flex-column">
          <h6 class="card-subtitle  text-body-secondary">Dispesa mensal</h6>
          <h5 class="mb-0">{{ total_despesa|moeda }}</h5>
        </div>

      </div>
      {% if percentual_despesa < 0 %} <p class="card-subtitle text-body-secondary fs-7 text-success">Redução de {{
        percentual_despesa }}% neste mes</p>
        {% else %}
        <p class="card-subtitle text-body-secondary fs-7 text-danger">Aumento de {{ percentual_despesa }}% neste mes</p>
        {% endif %}

    </div>
  </div>

  <div class="card border-0 card-size cor-secundaria">
    <div class="card-body ">
      <div class="d-flex gap-2 align-items-center mb-3">

        <div class=" bg-primary text-white icon-box">
          <i class="bi bi-piggy-bank"></i>
        </div>
        <div class="d-flex flex-column">
          <h6 class="card-subtitle  text-body-secondary">Saldo</h6>
          <h5 class="mb-0">{{ saldo|moeda }}</h5>
        </div>

      </div>
      {% if percentual_saldo < 0 %} <p class="card-subtitle text-body-secondary fs-7 text-danger">Redução de {{
        percentual_saldo }}% neste mes</p>
        {% else %}
        <p class="card-subtitle text-body-secondary fs-7">Aumento de {{ percentual_saldo }}% neste mes</p>
        {% endif %}

    </div>
  </div>

  <div class="card border-0 card-size cor-secundaria">
    <div class="card-body ">
      <div class="d-flex gap-2 align-items-center mb-3">

        <div class=" bg-success text-white icon-box">
          <i class="bi bi-currency-dollar"></i>
        </div>
        <div class="d-flex flex-column">
          <h6 class="card-subtitle  text-body-secondary">despesa x receita/ano</h6>
          <h5 class="mb-0">R$1400 </h5>
        </div>

      </div>

      <p class="card-subtitle text-body-secondary fs-7">Aumento de 50% neste mes</p>

    </div>
  </div>

</div>

<div class="mt-3 ">
  <form class="d-flex gap-3 align-items-center" method="POST">
    {% csrf_token %}
    <p>
      <label for="descricao">Descrição:</label>
      {{ form.descricao }}
    </p>
    <p>
      <label for="valor">Valor:</label>
      {{ form.valor }}
    </p>
    <p>
      <label for="categoria">Categoria:</label>
      {{ form.categoria }}
    </p>
    <p>
      <label for="tipo">Tipo:</label>
      {{ form.tipo }}
    </p>
    <button type="submit" class="btn btn-success " >Salvar</button>
  </form>
</div>

<!-- Tabela personalizada -->
<div class="table-responsive">
    <table class="table table-borderless table-sm mb-0">
        <thead class="text-white" style="background-color: #07b29b;"> <!-- Bootstrap verde escuro -->
            <tr>
              <th>Valor</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Tipo</th>
              <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacao %}
            <tr onclick="window.location.href='{% url 'transacao_detail' transacao.pk %}'" style="cursor: pointer;"
                class="{% if forloop.counter|divisibleby:2 %}linha-verde{% else %}linha-branca{% endif %}"
                title="Ver detalhes">
                <td>{{ transacao.valor }}</td>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.categoria }}</td>
                <td>{{ transacao.tipo }}</td>
                <td>{{ transacao.data }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Nenhuma transação localizada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block scripts %}


{% endblock %}

{% endblock %}
