{% extends 'base.html' %}

{% block content %}
<h2>Nova Forma de Pagamento</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
</form>

<hr>

<h2>Lista de Formas de Pagamento</h2>

<!-- Tabela personalizada -->
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead class="text-white" style="background-color: #07b29b;"> <!-- Bootstrap verde escuro -->
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for formaPagamento in formaPagamentos %}
                <tr onclick="window.location.href='{% url 'formaPagamento_detail' formaPagamento.pk %}'"
                    style="cursor: pointer;"
                    class="{% if forloop.counter|divisibleby:2 %}linha-verde{% else %}linha-branca{% endif %}" title="Ver detalhes">
                    <td>{{ formaPagamento.nome }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma forma de pagamento localizada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}